<head><%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header> <%- include('./partials/header.ejs') %></header>
    <div class="container-main-container">
        <div><img style="width: 100%;"  src="/images/bannerproductos.jpg" alt=""></div>
     
        <hr>
        <% if (products.length == 0) { %>
            <br>
            <br>
            <div style="text-align: center;"><h1>No se encontraron Productos</h1></div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <% } else { %> 
            <div class="row-products">
           
           
            <% products.forEach(product=> { %>

                <div class="col-product">
                    <div class="card-product" >
                        <img src="/images/<%= product.img %> " class="card-img-top img-fluid"
                            alt="<%- product.nombre %>">
                        <div class="card-body">
                            <h4 style="font-size: large;" class="card-title">
                                <%= product.nombre %>
                            </h4>
                            <a style="font-size: large; text-decoration: none;" href="/products/detail/<%= product.id %>" class="btn btn-outline-primary btn-block">Ver
                                más...</a>

                        </div>
                    </div>
                </div>

                <% }); %>
                <% } %>
        </div>
    </div>
    <footer> <%- include('./partials/footer.ejs') %> </footer>