<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/styles.css">
    <title>Editar</title>

</head>

<body>
    <div style="
width: 100%;
z-index: -2;
position: fixed;
"><img src="/images/fondoform.jpg" alt=""></div>
    <div class="contenedorPrincipal">
        <br>
        <br>
        <br>

        <div class="logoRegister"><img class="logoCanskiRegister" src="/images/<%= user.img %>" alt="Logo Canski"></div>

        <br>
        <br>
        <% if (locals.errors) { %>
            <% for( let oneError in errors) { %>
                <p style="color: darkred;">
                    <%= errors[oneError].msg %>
                </p>
                <% } %>
                    <% } %>
                        <div class="registro">
                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Editar Detalles</p>
                            <div>
                                <ul class="errores"></ul>
                            </div>
                            <form class="formLogin" name="login"
                                action="/profile/edit/update/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <h5>Edita tu usuario</h5>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input id="usuario" name="usuario" type="text" placeholder="<%= user.usuario %>"
                                        class="form-control" value="<%= user.usuario %>">
                                </div>
                                <h5>Edita tu direccion</h5>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-home"></i> </span>
                                    </div>
                                    <input id="direccion" name="direccion" type="text"
                                        placeholder="<%= user.direccion %>" class="form-control"
                                        value="<%= user.direccion %>">
                                </div>
                                <h5>Edita tu imagen</h5>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-image"></i> </span>
                                    </div>
                                    <input id="imagenPerfil" class="form-control" placeholder="Seleciona una Imagen de Perfil" type="file" name="avatar">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Aceptar </button>
                                </div>

                                <p class="text-center"><a href="/profile">Volver al Perfil</a> </p>


                            </form>
                        </div>
                        <br>
                        <br>
    </div>
    <script src="/js/editUserValidation.js"></script>
</body>

</html>